html {
	color: seashell;
	font-size: 30px;
	/* border: 1px dashed navy; */
	/* border-radius: 6px; */
}
body {
	width: 60vw;
	margin: 0px auto;
	background-attachment: fixed;
}
h1 {
	font-family: 'Arbutus Slab', serif;
	color: maroon;
	font-size: 40px;
	font-feature-settings: "smcp", "c2sc";
	text-align: center;
}

p {
	font-family: 'Eczar', serif;
	margin: 5px 0px;
}


.Chapter1 {
  background-image: url(IMG_0886.jpg);
  background-color: dimgray;
	background-blend-mode: exclusion;
	background-position: center;
}

.Chapter2 {
  background-image: url(IMG_0490.jpg);
	background-position-x: 100%;
	background-position-y: 50%;

}

.Chapter3 {
  background-image: url(IMG_0374.jpg);
	background-position: center;
}

.Chapter4 {
  background-image: url(IMG_0531.jpg);
	background-position: center;
}

.Chapter5 {
  background-image: url(IMG_0333.jpg);
	    background-position: center;
}

.Chapter6 {
  background-image: url(IMG_0490.jpg);
	background-position-x: 65%;
    background-position-y: center;
}

.Chapter7 {
  background-image: url(IMG_0880.jpg);
	background-position: center;
	background-color: dimgray;
	background-blend-mode: exclusion;
}

.Chapter8 {
  background-image: url(IMG_0566.jpg);
	background-position: center;
	background-color: dimgray;
	background-blend-mode: exclusion;
}

.Chapter9 {
  background-image: url(IMG_0831.jpg);
	background-position: center;
}

.Chapter10 {
  background-image: url(IMG_0911.jpg);
	background-position: center;
	background-size: cover;


}

.Chapter11 {
  background-image: url(IMG_0695.jpg);
	background-position-x: center;
    background-position-y: 33%;
}

.Chapter12 {
  background-image: url(IMG_0565.jpg);
	background-position: center;
}

.Chapter13 {
  background-image: url(IMG_0574.jpg);
	background-position: center;

}

.Chapter14 {
  background-image: url(IMG_0833.jpg);
	background-position: center;
	background-color: dimgray;
	background-blend-mode: exclusion;
}

.Chapter15 {
  background-image: url(IMG_0582.jpg);
	background-position-x: center;
    background-position-y: 40%;
}

.Chapter16 {
  background-image: url(IMG_0784.jpg);
	background-position: center;
}

.Chapter17 {
  background-image: url(IMG_0637.jpg);
	background-position: center;
}

.Chapter18 {
	background-image: url(IMG_0705.jpg);
	background-position-y: 25%;
    background-position-x: center;
}

.Chapter19 {
  background-image: url(IMG_0429.jpg);
	background-position-x: center;
	background-position-y: 40%;
	background-color: dimgray;
	background-blend-mode: exclusion;
}

.Chapter20 {
  background-image: url(IMG_0883.jpg);
	background-position-y: 35%;
	background-position-x: 65%;
}

.Chapter21 {
  background-image: url(IMG_0896.jpg);
	background-position-x: center;
	background-position-y: 85%;
}
 span.cite {
	padding-right: 0.5em;
	color: maroon;
	font-size: 85%;

 } */
